* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding-top: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.spacer {
  display: flex;
  justify-content: space-between;
}

.center-section {
  flex: 1;
  background-color: #ffffff;
  text-align: center;
  min-height: 100vh;
}

.banner {
  padding: 5px;
  margin: 0px 5%;
  border: 1px black;
  max-width: 100%;
  margin-top: 10%;
}

.images {
  width: 100%;
  max-width: 900px;
  height: auto;
}

.profile-pic {
  border: #000 solid;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

.divider {
  border: #fbaa13 solid;
  margin: 20px 0;
  width: 100%;
}

/* Media query for screens smaller than 576px (phones) */
@media screen and (max-width: 900px) {

  .center-section {
    margin-right: 2%;
  }

}

/* Media query for screens larger then or equal to 768px (tablets) */
@media (min-width: 768px) {

  .center-section {
    flex: 1;
  }
}
/* login page css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 20px;
  background-color: #e5dada;
}

.login-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #002642;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #69022a;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* home-render */
.home-render {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  margin: 4%;
  flex-basis: auto;
}

/* Create Post Button */
#postCreate {
  background-color: black;
  position: fixed;
  bottom: 5%;
  left: 90%;
}

#postCreateBtn {
  color: white; 
}