.aside-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 28%;
  height: 100%;
  border: 1px solid red;
}

.aside-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}