
  .trends-section {
    width: calc(40% - 40px);
    /* Adjusted width to take 40% of the screen minus 40px margin */
    margin: 20px;
    /* Added margin */
    border-radius: 10px;
    background-color: #e5dada;
    display: block;
    padding: 20px;
    text-align: center;
  }
  
  @media screen and (max-width: 900px) {
  
    .trends-section,
    .trends-header {
      display: none;
    }
  
  
  }